<% if (theme.selflinks.length){ %>
<div class="widget">
	<h4><%= __('selflinks') %></h4>
	<ul class="blogroll list-unstyled">
	<% for (var i in theme.selflinks){ %>
		<li><i class="<%- theme.selflinks[i].icon %>"></i><a href="<%- theme.selflinks[i].url %>" title="<%- theme.selflinks[i].intro %>" target="_blank"]);"><%= theme.selflinks[i].title %></a></li>
	<% } %>
	</ul>
</div>
<% } %>

