<%- partial('post/title', {item: item, index: false}) %>

<% if (item.shadow ) { %>
   <style type="text/css">
           img, video {
                -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                box-shadow:0 0 10px rgba(0, 0, 0, .5);  
           }
   </style>
<% } %>


<div class="row <% if (post) { %>post<% } else { %>page<% } %>">
	<!-- cols -->
	<% if (post) { %>
	<div id="top_meta"></div>
	<div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	<% } %>

	<!-- content -->
	<div class="mypage">		
	  <% if (item.description) { %>
		 <div class="alert alert-success description">
			<i class="fa fa-info-circle"></i> <%- markdown(item.description) %>			
		 </div> <!-- alert -->
	  <% } %>		

	  <%- item.content %>	  
	</div>

	<div>
  	<center>
	<%- partial('post/pagination', {page: item}) %>
    </center>
	</div>

    <!-- share -->
    <% if (post) { %>
        <%- partial('post/bdshare', {page: item}) %>
        <%- partial('post/jiathis', {page: item}) %>
    <% } %>
	
	<!-- donate -->
	<% if (!post.excerpt || !index){ %>
	<% if (theme.donate) { %>
	<!-- css -->
  <style type="text/css">
      .center {
          text-align: center;
      }
      .hidden {
          display: none;
      }
    .donate_bar a.btn_donate{
      display: inline-block;
      width: 82px;
      height: 82px;
      background: url("https://c1.staticflickr.com/5/4165/34650023915_0a51fa7b03.jpg") no-repeat;
      _background: url("https://c1.staticflickr.com/5/4165/34650023915_0a51fa7b03.jpg") no-repeat;

      <!-- http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif
           因为本 hexo 生成的博客所用的 theme 的 a:hover 带动画效果，
         为了在让打赏按钮显示效果正常 而 添加了以下几行 css，
         嵌入其它博客时不一定要它们。 -->
      -webkit-transition: background 0s;
      -moz-transition: background 0s;
      -o-transition: background 0s;
      -ms-transition: background 0s;
      transition: background 0s;
      <!-- /让打赏按钮的效果显示正常 而 添加的几行 css 到此结束 -->
    }

    .donate_bar a.btn_donate:hover{ background-position: 0px -82px;}
    .donate_bar .donate_txt {
      display: block;
      color: #9d9d9d;
      font: 14px/2 "Microsoft Yahei";
    }
    .bold{ font-weight: bold; }
  </style>
  <!-- /css -->

    <!-- Donate Module -->
    <div id="donate_module">

  <!-- btn_donate & tips -->
  <div id="donate_board" class="donate_bar center">
  
    <a id="btn_donate" class="btn_donate" target="_self" href="javascript:;" title="Donate 打赏"></a>
    <span class="donate_txt">
      <%= theme.donate.text %>
    </span>
      
    
  </div>
  <!-- /btn_donate & tips -->

  <!-- donate guide -->
    
  <div id="donate_guide" class="donate_bar center hidden">
	<div class="row center">
    <a href="<%= theme.donate.wechat %>" title="用微信扫一扫哦~" class="fancybox">
      <img src="<%= theme.donate.wechat %>" title="微信打赏 远行" height="164px" width="164px" style="display:inherit;"/>
    </a>
        &nbsp;
    <a href="<%= theme.donate.alipay %>" title="用支付宝扫一扫即可~" class="fancybox">
      <img src="<%= theme.donate.alipay %>" title="支付宝打赏 远行" height="164px" width="164px" style="display:inherit;"/>
    </a>
	</div>
	
    <span class="donate_txt">
      Use App <span class="bold"><a href="http://global.alipay.com/ospay/home.htm">Alipay</a> / <a href="http://www.wechat.com/en/">WeChat</a></span>
			to scan QRCode~ Thx for your support.<br/>
			用手机 <span class="bold"><a href="https://mobile.alipay.com/index.htm">支付宝钱包</a> / <a href="http://weixin.qq.com/">微信</a></span>，
			扫一扫即可~ 谢谢您的鼓励。<br/>
    </span>

  </div>
  <!-- /donate guide -->

  <!-- donate script -->
  <script type="text/javascript">
    document.getElementById('btn_donate').onclick = function() {
      $('#donate_board').addClass('hidden');
      $('#donate_guide').removeClass('hidden');
    }

    function donate_on_web(){
      $('#donate').submit();
        }

    var original_window_onload = window.onload;
        window.onload = function () {
            if (original_window_onload) {
                original_window_onload();
            }
            document.getElementById('donate_board_wdg').className = 'hidden';
    }
  </script>
  <!-- /donate script -->
</div>
<!-- /Donate Module -->
   <% } %>
  
<% }%>

	<!-- comment -->
	<%- partial('post/comment', {page: item}) %>
	</div> <!-- col-md-9/col-md-12 -->
		
	<% if (post) { %>
	<div id="side_meta">
		<%- partial('post/meta', {item: item}) %>
	</div>
	<% } %>	

</div><!-- row -->

<%- partial('post/comment_footer', {page: item}) %>
