<% 
	if (page.layout == 'post') 
	{ 
		var cats = [];
		var tags = [];
		if (page.categories && page.categories.length)
		{
			page.categories.forEach(function(cat){
				cats.push(cat.name);
			});
		}
 
		if (page.tags && page.tags.length)
		{
			page.tags.forEach(function(tag){
				tags.push(tag.name);
			});
		}
	}
%>
<section id = "relate">
	<hr />
    <% if (theme.relate_provider == 'baidu_tuijian'){ %>
                <div id="<%= theme.baidu_tuijian_id %>"></div>
    <% } else if(theme.relate_provider == 'wumii'){ %>
				<script type="text/javascript" id="wumiiRelatedItems"></script>
                <script type="text/javascript">
                    var wumiiPermaLink = "<%= page.permalink %>";
					var wumiiTitle = <%-JSON.stringify(page.title)%>;
					var wumiiTags = <%-JSON.stringify(tags.join(','))%>;
					var wumiiCategories = <%-JSON.stringify(cats)%>;
					var wumiiSitePrefix = "<%-theme.wumii_siteprefix%>";
					var wumiiParams = "&num=6&mode=3&pf=JAVASCRIPT";
                </script>
				<script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
    <% } %> 
</section>

