<% 
    var tags = [];
    var categories = [];
	if (post.tags){
		post.tags.forEach(function(tag){
			tags.push(tag.name);
		});
	}
	if (post.categories){
		post.categories.forEach(function(category){
			categories.push(category.name);
		});
	}
%>
<section id = "relate">
	<hr />
    <% if (theme.relate_provider == 'baidu_tuijian'){ %>
                <div id="<%= baidu_tuijian_id %>"></div>
    <% } else if(theme.relate_provider == 'wumii'){ %>
                <script type="text/javascript" id="wumiiRelatedItems"></script>
                <script type="text/javascript">
                    var wumiiPermaLink = "<%= post.permalink %>"; //请用代码生成文章永久的链接
                    var wumiiTitle = "<%= post.title %>"; //请用代码生成文章标题
                    var wumiiTags = "<%- tags.join(',') %>"; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
                    var wumiiCategories = <%- categories %>; //请用代码生成文章分类，分类名放在JSONArray中，如: ["分类1","分类2"]
                    var wumiiSitePrefix = "<%= theme.wumii_siteprefix %>";
                    var wumiiParams = "&num=6&mode=3&pf=JAVASCRIPT";
                </script>
    <% } %> 
	
</section>