<div class="post-actions-wrap">
    <nav>
        <ul class="post-actions post-action-nav">
            <li class="post-action">
                <% if (post.prev) { %>
                    <% var previousPostTitle = post.prev.title || '(' + __('post.no_title') + ')' %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.prev.path) %>" data-tooltip="<%= previousPostTitle %>" aria-label="<%= __('pagination.previous') + ': ' + previousPostTitle %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="hide-xs hide-sm text-small icon-ml"><%= __('pagination.previous') %></span>
                </a>
            </li>
            <li class="post-action">
                <% if (post.next) { %>
                    <% var nextPostTitle = post.next.title || '(' + __('post.no_title') + ')' %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.next.path) %>" data-tooltip="<%= nextPostTitle %>" aria-label="<%= __('pagination.next') + ': ' +  nextPostTitle %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <span class="hide-xs hide-sm text-small icon-mr"><%= __('pagination.next') %></span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
    
	<%- partial('_partial/post/bdshare') %>
</div>

